<template>
  <v-container>
    <v-layout row wrap>
      <v-flex xs12  class="text-xs-center">
        <h1>Edit Profile</h1>
      </v-flex>
    </v-layout>
    <v-layout row wrap mb-4>
      <v-flex xs12 md6 offset-md3 class="btns-holder text-xs-center">
        <v-btn color="light-green darken-2" dark @click.stop="changeUserDataModal = true">change name</v-btn>
        <v-btn color="light-green darken-2" dark @click.stop="changePasswordDialog = true">change password</v-btn>
      </v-flex>
    </v-layout>
    <v-layout row wrap>
      <v-flex xs12 md6 offset-md3 class="avatar-holder">
        <img :src="userData.photoUrl" alt="avatar">
        <v-btn
          absolute
          top
          right
          fab
          dark
          medium
          class="orange btn-edit-avatar"
          @click.stop="avatarDialog = true">
          <v-icon>edit</v-icon>
        </v-btn>
      </v-flex>
    </v-layout>
    <v-layout row wrap>
      <v-flex xs12 md6 offset-md3>
        <p>Name: {{userData.firstName + ' ' + userData.lastName}}</p>
      </v-flex>
    </v-layout>
    <v-layout row wrap>
      <v-flex xs12 md6 offset-md3>
        <p>Email: {{userData.email}}</p>
      </v-flex>
    </v-layout>
    <v-layout row wrap>
      <v-flex xs12 md6 offset-md3>
        <v-btn
          flat
          block
          class="red"
          color="white"
          @click.stop="deleteDialog = true">
          Delete profile
        </v-btn>
      </v-flex>
    </v-layout>
    <v-dialog
      v-model="changePasswordDialog"
      fullscreen
      transition="dialog-bottom-transition"
      :overlay=false
      scrollable
    >
      <form @submit.prevent="changePassword()">
      <v-card>
        <v-toolbar style="flex: 0 0 auto;" dark class="light-green darken-2">
          <v-btn icon @click.native="changePasswordDialog = false" dark>
            <v-icon>close</v-icon>
          </v-btn>
          <v-toolbar-title>Change Password</v-toolbar-title>
          <v-spacer></v-spacer>
          <v-toolbar-items>
            <v-btn dark flat type="submit">Save</v-btn>
          </v-toolbar-items>
        </v-toolbar>
        <v-card-text>
            <v-layout row wrap>
              <v-flex xs12 md6 offset-md3 class="text-xs-center">
                <h2 color="red">{{errorMessagePassword}}</h2>
              </v-flex>
            </v-layout>
          <v-layout row wrap>
              <v-flex xs12 md6 offset-md3 class="text-xs-center">
                <v-text-field
                  type="password"
                  name="currentPassword"
                  label="Current Password"
                  v-model="currentPassword"
                  required
                ></v-text-field>
              </v-flex>
            </v-layout>
            <v-layout row wrap>
              <v-flex xs12 md6 offset-md3 class="text-xs-center">
                <v-text-field
                  type="password"
                  name="newPassword"
                  label="New Password"
                  v-model="newPassword"
                  required
                ></v-text-field>
              </v-flex>
            </v-layout>
            <v-layout row wrap>
              <v-flex xs12 md6 offset-md3 class="text-xs-center">
                <v-text-field
                  name="confirmPassword"
                  label="confirmPassword"
                  type="password"
                  v-model="confirmPassword"
                  required
                ></v-text-field>
              </v-flex>
            </v-layout>
        </v-card-text>
        <div style="flex: 1 1 auto;"></div>
      </v-card>
      </form>
    </v-dialog>
    <v-dialog
      v-model="changeUserDataModal"
      fullscreen
      transition="dialog-bottom-transition"
      :overlay=false
      scrollable
    >
      <form @submit.prevent="editUserData()">
        <v-card>
          <v-toolbar style="flex: 0 0 auto;" dark class="light-green darken-2">
            <v-btn icon @click.native="changeUserDataModal = false" dark>
              <v-icon>close</v-icon>
            </v-btn>
            <v-toolbar-title>Change User Name</v-toolbar-title>
            <v-spacer></v-spacer>
            <v-toolbar-items>
              <v-btn dark flat type="submit">Save</v-btn>
            </v-toolbar-items>
          </v-toolbar>
          <v-card-text>
            <v-layout row wrap>
              <v-flex xs12 md6 offset-md3 class="text-xs-center">
                <v-text-field
                  name="firstName"
                  label="First Name"
                  v-model="userData.firstName"
                ></v-text-field>
              </v-flex>
            </v-layout>
            <v-layout row wrap>
              <v-flex xs12 md6 offset-md3 class="text-xs-center">
                <v-text-field
                  name="lastName"
                  label="Last Name"
                  v-model="userData.lastName"
                ></v-text-field>
              </v-flex>
            </v-layout>
            <v-layout row wrap>
              <v-flex xs12 md6 offset-md3 class="text-xs-center">
                <v-text-field
                  name="email"
                  label="email"
                  type="email"
                  v-model="userData.email"
                ></v-text-field>
              </v-flex>
            </v-layout>
          </v-card-text>
          <div style="flex: 1 1 auto;"></div>
        </v-card>
      </form>
    </v-dialog>
    <v-dialog
      v-model="avatarDialog"
      fullscreen
      transition="dialog-bottom-transition"
      :overlay=false
      scrollable
    >
      <form @submit.prevent="chengeAvatar()">
        <v-card>
          <v-toolbar style="flex: 0 0 auto;" dark class="light-green darken-2">
            <v-btn icon @click.native="avatarDialog = false" dark>
              <v-icon>close</v-icon>
            </v-btn>
            <v-toolbar-title>Change User Photo</v-toolbar-title>
            <v-spacer></v-spacer>
            <v-toolbar-items>
              <v-btn dark flat type="submit">Save</v-btn>
            </v-toolbar-items>
          </v-toolbar>
          <v-card-text>
            <v-layout row wrap>
              <v-flex xs12 md6 offset-md3 class="text-xs-center">
                <VueImgInputer style="margin: 0 auto 20px; display: block;"
                               v-model="picValue"
                               accept="image/jpg,image/png;"
                               placeholder="Chose your photo"
                               theme="material"
                               customerIcon="&#xe624;"
                               size="large"></VueImgInputer>
              </v-flex>
            </v-layout>
          </v-card-text>
          <div style="flex: 1 1 auto;"></div>
        </v-card>
      </form>
    </v-dialog>
    <v-dialog
      v-model="deleteDialog"
      fullscreen
      transition="dialog-bottom-transition"
      :overlay=false
      scrollable
    >
        <v-card>
          <v-toolbar style="flex: 0 0 auto;" dark class="light-green darken-2">
            <v-btn icon @click.native="deleteDialog = false" dark>
              <v-icon>close</v-icon>
            </v-btn>
            <v-toolbar-title>Delete Profile</v-toolbar-title>
          </v-toolbar>
          <v-card-text>
            <v-layout row wrap>
              <v-flex xs12 md6 offset-md3 class="text-xs-center">
                You are sure?
              </v-flex>
            </v-layout>
            <v-layout row wrap>
              <v-flex xs6 md6 offset-md3 class="text-xs-left">
                <v-btn
                  flat
                  color="white"
                  @click.stop="deleteDialog = false"
                  class="green">Cancel</v-btn>
              </v-flex>
              <v-flex xs6 md6 offset-md3 class="text-xs-right">
                <v-btn
                  flat
                  color="white"
                  @click.stop="deleteUser()"
                  class="red">Delete</v-btn>
              </v-flex>
            </v-layout>
          </v-card-text>
          <div style="flex: 1 1 auto;"></div>
        </v-card>
    </v-dialog>
  </v-container>
</template>

<script>
  import VueImgInputer from 'vue-img-inputer'

  export default {
    components: {
      VueImgInputer
    },
    computed: {
      userData () {
        return Object.assign({}, this.$store.getters.getUser)
      }
    },
    methods: {
      changePassword () {
        switch (true) {
          case this.newPassword === this.currentPassword:
            this.errorMessagePassword = 'Please chose another password!'
            break
          case this.newPassword !== this.confirmPassword:
            this.errorMessagePassword = 'Passwords not matched'
            break
          case this.newPassword.length <= 8:
            this.errorMessagePassword = 'Passwords is too short'
            break
          default:
            this.errorMessagePassword = ''
            this.$store.dispatch('changePassword', this.newPassword).then(() => {
              this.changePasswordDialog = false
            })
            break
        }
      },
      editUserData () {
        const newData = {
          firstName: this.userData.firstName,
          lastName: this.userData.lastName,
          email: this.userData.email
        }
        this.$store.dispatch('changeUserData', newData).then(() => {
          this.changeUserDataModal = false
        })
      },
      deleteUser () {
        this.$store.dispatch('deleteUser').then(() => {
          this.deleteDialog = false
          this.$router.push('/')
        })
      },
      chengeAvatar () {
        if (this.picValue) {
          this.$store.dispatch('chengeAvatar', this.picValue).then(() => {
            this.avatarDialog = false
          })
        }
      }
    },
    data () {
      return {
        changeUserDataModal: false,
        changePasswordDialog: false,
        avatarDialog: false,
        deleteDialog: false,
        currentPassword: '',
        newPassword: '',
        confirmPassword: '',
        picValue: null,
        errorMessagePassword: ''
      }
    }
  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
 form{
   width: 100%;
 }
 .card{
   height: 100% !important;
 }
  .card__text{
    height: calc(100% - 64px);
  }
 .toolbar .toolbar__content > .btn:first-child, .toolbar .toolbar__extension > .btn:first-child{
   margin-left: 15px;
 }
 .toolbar .toolbar__content > *:not(.btn):not(.menu):last-child, .toolbar .toolbar__extension > *:not(.btn):not(.menu):last-child{
   margin-right: 0;
 }
  .btns-holder .btn{
    margin: 0;
  }
  p{
    font-size: 20px;
    line-height: 24px;
    margin: 0 0 10px;
  }
  .avatar-holder{
    position: relative;
    margin: 0 auto 15px;
    max-width: 350px;
  }
 .avatar-holder img{
   display: block;
   width: 100%;
   height: auto;
 }
 .img-inputer--large{
   width: 100%;
 }
  .btn-edit-avatar{
    top: -10px;
    right: -10px;
  }
</style>
