<template>
  <v-container class="search-results">
    <v-layout row wrap>
      <v-flex xs12 mb-4 class="text-xs-center">
        <h2>My Friends!</h2>
      </v-flex>
    </v-layout>
    <v-layout row wrap>
      <v-flex xs12 md6 offset-md3 class="text-xs-center">
        <h3 v-if="!showFriendsList">You have no friends yet!</h3>
      </v-flex>
    </v-layout>
    <v-layout row wrap v-if="showFriendsList">
      <v-flex xs12 md8 offset-md2>
        <v-list class="friendsList">
          <template v-for="(user, uid) in friendsList">
            <v-divider></v-divider>
            <v-list-tile avatar v-bind:key="uid">
              <v-list-tile-avatar>
                <img v-bind:src="user.photoUrl"/>
              </v-list-tile-avatar>
              <v-list-tile-content>
                <v-list-tile-title>{{ user.firstName + ' ' + user.lastName}}</v-list-tile-title>
              </v-list-tile-content>
              <v-list-tile-action class="btns">
                <v-layout>
                  <v-flex xs12>
                    <v-btn @click.stop="deleteFromFriends(uid)" icon ripple>
                      <v-icon color="red accent-3">delete</v-icon>
                    </v-btn>
                    <v-btn router :to="'user/' + uid" icon ripple>
                      <v-icon color="red accent-3">keyboard_arrow_right</v-icon>
                    </v-btn>
                  </v-flex>
                </v-layout>
              </v-list-tile-action>
            </v-list-tile>
          </template>
        </v-list>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
    export default {
      computed: {
        friendsList () {
          if (Object.keys(this.$store.getters.getFriends).length) {
            this.showFriendsList = true
          }
          return this.$store.getters.getFriends
        }
      },
      watch: {
        friendsList () {
          if (Object.keys(this.$store.getters.getFriends).length) {
            this.showFriendsList = true
          }
          return this.$store.getters.getFriends
        }
      },
      methods: {
        deleteFromFriends (id) {
          this.$store.dispatch('deleteFromFriends', id)
        }
      },
      data () {
        return {
          showFriendsList: false
        }
      }
    }
</script>

<style scoped>
  .search-results{
    height: 100%;
  }
  .iscroll-holder{
    height: calc(100% - 74px - 75px) !important;
    position: relative;
  }
  .scroll-view {
    /* -- Attention: This line is extremely important in chrome 55+! -- */
    touch-action: none;
    /* -- Attention-- */
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
  }
  .friendsList hr:first-child{
    display: none;
  }
  .btns{
    white-space: nowrap;
  }
  .btns .btn{
    margin:0 0 0 10px;
  }
</style>
