<template>
  <v-container fluid class="view-holder">
    <v-layout row wrap mb-3>
      <v-flex xs12 md6 offset-md3>
        <v-card>
          <v-container fluid grid-list-lg>
            <v-layout row>
              <v-flex xs5>
                <v-card-media
                  :src="userData.photoUrl"
                  height="125px"
                  contain
                ></v-card-media>
              </v-flex>
              <v-flex xs7>
                <h2>{{userData.firstName}} {{userData.lastName}}</h2>
              </v-flex>
            </v-layout>
          </v-container>
        </v-card>
      </v-flex>
    </v-layout>
    <v-layout row wrap class="tab-holder">
      <v-tabs fixed centered v-model="activeTab">
        <v-tabs-bar class="cyan" dark >
          <v-tabs-slider color="yellow"></v-tabs-slider>
          <v-tabs-item
            v-for="(item, i) in tabItems"
            :key="i"
            :href="'#tab-' + i"
          >
            {{ item.title }}
          </v-tabs-item>
        </v-tabs-bar>
        <v-tabs-items>
          <v-tabs-content
            v-for="(item, i) in tabItems"
            :key="i"
            :id="'tab-' + i"
          >
            <v-card flat>
              <v-card-text>
                  <template v-if="item.type === 'WishList'">
                    <v-fab-transition>
                      <v-btn
                        class="light-green darken-2"
                        dark
                        fab
                        fixed
                        bottom
                        right
                        @click.stop="wishListDialog = !wishListDialog">
                        <v-icon>add</v-icon>
                      </v-btn>
                    </v-fab-transition>
                    <v-list>
                      <v-list-tile v-for="(value, key) in WishListData" v-bind:key="key" @click.stop="showList(key)">
                        <v-list-tile-content>
                          <v-list-tile-title v-text="value.title"></v-list-tile-title>
                        </v-list-tile-content>
                      </v-list-tile>
                    </v-list>
                  </template>
                  <template v-else>
                    <v-fab-transition>
                      <v-btn
                        class="light-green darken-2"
                        dark
                        fixed
                        right
                        fab
                        bottom
                        @click.stop="showAddItemDialog()">
                        <v-icon>add</v-icon>
                      </v-btn>
                    </v-fab-transition>
                    <v-list class="items-list" v-if="MyListItems">
                      <template v-for="(item, key) in MyListItems">
                        <v-divider></v-divider>
                        <v-list-tile v-bind:key="key">
                          <v-list-tile-avatar>
                            <img v-bind:src="item.photoUrl"/>
                          </v-list-tile-avatar>
                          <v-list-tile-content>
                            <v-list-tile-title>
                              <a :href="item.buyUrl">{{item.title}}</a>
                            </v-list-tile-title>
                            <v-list-tile-title>{{item.price}}</v-list-tile-title>
                          </v-list-tile-content>
                          <v-list-tile-action class="btns">
                            <v-layout>
                              <v-flex xs12 v-if="isUserOwner">
                                <v-btn
                                  @click.stop="showEditItem(item, key)"
                                  color="light-green darken-2"
                                  small
                                  dark
                                  fab>
                                  <v-icon>mode_edit</v-icon>
                                </v-btn>
                                <v-btn
                                  @click.stop="showDeleteItemDialog(key)"
                                  color="red"
                                  small
                                  dark
                                  fab>
                                  <v-icon>delete_forever</v-icon>
                                </v-btn>
                              </v-flex>
                            </v-layout>
                          </v-list-tile-action>
                        </v-list-tile>
                      </template>
                    </v-list>
                  </template>
              </v-card-text>
            </v-card>
          </v-tabs-content>
        </v-tabs-items>
      </v-tabs>
    </v-layout>
    <v-dialog v-model="wishListDialog" max-width="500px">
      <form @submit.prevent="addNewList">
        <v-container>
          <v-layout row wrap>
            <v-flex xs12 class="text-xs-center">
              <h1>Add new wish List</h1>
            </v-flex>
          </v-layout>
          <v-layout row wrap>
            <v-flex xs12>
              <v-text-field
              requared
              type="text"
              label="Enter new list title"
              v-model="newListTitle"
              ></v-text-field>
            </v-flex>
          </v-layout>
          <v-layout  row wrap>
            <v-flex xs12 class="text-xs-right">
              <v-btn
                flat
                class="red"
                @click.stop="wishListDialog = !wishListDialog">
                cancel
              </v-btn>
              <v-btn
                flat
                @click.stop="addNewList()"
                class="light-green darken-2">
                save
              </v-btn>
            </v-flex>
          </v-layout>
        </v-container>
      </form>
    </v-dialog>

    <v-dialog
      v-model="addMyItemDialog"
      fullscreen
      transition="dialog-bottom-transition"
      :overlay=false
      scrollable
    >
      <v-card>
        <form @submit.prevent="addNewListItem()">
          <v-toolbar style="flex: 0 0 auto;" dark class="light-green darken-2">
            <v-btn icon @click.native="hideEditItem()" dark>
              <v-icon>close</v-icon>
            </v-btn>
            <v-toolbar-title v-if="this.actionType === 'add'">Add New Item</v-toolbar-title>
            <v-toolbar-title v-else>Edit Item</v-toolbar-title>
            <v-spacer></v-spacer>
            <v-btn
              flat
              color="white"
              type="submit"
            >Save</v-btn>
          </v-toolbar>
          <v-card-text>
            <v-layout row wrap>
              <v-flex xs12 md6 offset-md3 class="text-xs-center">
                <v-text-field
                  label="Enter Url to Item"
                  type="text"
                  v-model="newItemData.data.buyUrl"
                ></v-text-field>
              </v-flex>
            </v-layout>
            <v-layout row wrap>
              <v-flex xs12 md3 offset-md3>
                <img :src="newItemData.data.photoUrl" alt="">
              </v-flex>
              <v-flex xs12 md3 >
                <v-text-field
                  label="Title"
                  v-model="newItemData.data.title"
                ></v-text-field>
                <v-text-field
                  type="number"
                  label="Price"
                  v-model="newItemData.data.price"
                ></v-text-field>
              </v-flex>
            </v-layout>
            <v-layout row wrap v-if="actionType === 'edit'">
              <v-flex xs12 md6 offset-md3 class="text-xs-center">
                <h3>Move Item to wish list</h3>
              </v-flex>
            </v-layout>
            <v-layout row wrap v-if="actionType === 'edit'">
              <v-flex xs12 md6 offset-md3 class="text-xs-center">
                <v-select
                  v-bind:items="selectData.selectText"
                  v-model="selectedList"
                  label="Select Wish List"
                  required
                ></v-select>
              </v-flex>
            </v-layout>
              <v-layout row wrap v-if="actionType === 'edit'">
                <v-flex xs12 md6 offset-md3 class="text-xs-center">
                 <v-btn
                   dark
                   flat
                   block
                   class="indigo lighten-1"
                   @click.stop="moveItemToWishList()"
                 >
                   move item
                 </v-btn>
                </v-flex>
            </v-layout>
          </v-card-text>
          <div style="flex: 1 1 auto;"></div>
        </form>
      </v-card>
    </v-dialog>
    <v-dialog
      v-model="deleteItemDialog"
      fullscreen
      transition="dialog-bottom-transition"
      :overlay=false
      scrollable
    >
      <v-card>
        <form @submit.prevent="deleteItem()">
          <v-toolbar style="flex: 0 0 auto;" dark class="light-green darken-2">
            <v-btn icon @click.native="deleteItemDialog = !deleteItemDialog" dark>
              <v-icon>close</v-icon>
            </v-btn>
            <v-toolbar-title>Delete Item</v-toolbar-title>
            <v-spacer></v-spacer>
            <v-btn
              flat
              class="red"
              type="submit"
            >Delete Item</v-btn>
          </v-toolbar>
          <v-card-text>
            <v-layout row wrap>
              <v-flex xs12 md6 offset-md3 class="text-xs-center">
                <h1>Delete Item?</h1>
              </v-flex>
            </v-layout>
          </v-card-text>
          <div style="flex: 1 1 auto;"></div>
        </form>
      </v-card>
    </v-dialog>
  </v-container>
</template>

<script>
export default {
  computed: {
    userData () {
      return this.$store.getters.getUser
    },
    WishListData () {
      return this.$store.getters.getWishLists
    },
    MyListData () {
      return this.$store.getters.getMyLists
    },
    MyListItems () {
      const listUid = this.MyListData.listId
      return this.MyListData.data[listUid].items
    },
    isUserOwner () {
      if (this.userData.myLists[this.MyListData.listId]) {
        return true
      } else {
        return false
      }
    },
    selectData () {
      let data = {
        selectText: [],
        selectUid: []
      }
      Object.keys(this.userData.wishLists).map((key) => {
        data.selectText.push(this.userData.wishLists[key])
        data.selectUid.push(key)
      })
      return data
    }
  },
  watch: {
    userData () {
      return this.$store.getters.getUser
    },
    WishListData () {
      return this.$store.getters.getWishLists
    },
    MyListData () {
      return this.$store.getters.getMyLists
    },
    MyListItems () {
      const listUid = this.MyListData.listId
      return this.MyListData.data[listUid].items
    },
    isUserOwner () {
      if (this.userData.myLists[this.MyListData.listId]) {
        return true
      } else {
        return false
      }
    },
    selectData () {
      let data = {
        selectText: [],
        selectUid: []
      }
      Object.keys(this.userData.wishLists).map((key) => {
        data.selectText.push(this.userData.wishLists[key])
        data.selectUid.push(key)
      })
      return data
    }
  },
  methods: {
    addNewList () {
      let newList = {
        title: this.newListTitle
      }
      this.$store.dispatch('addNewWishList', newList).then(resolve => {
        this.wishListDialog = !this.wishListDialog
      }, error => {
        this.errorMessage = error
      })
    },
    showList (id) {
      this.$router.push('list/' + id)
    },
    showAddItemDialog () {
      this.addMyItemDialog = true
      this.actionType = 'add'
    },
    addNewListItem () {
      if (this.actionType === 'add') {
        this.newItemData.listUid = this.MyListData.listId
        this.$store.dispatch('addNewMyItem', this.newItemData).then(() => {
          this.addMyItemDialog = false
          this.newItemData = {
            listUid: null,
            data: {
              buyUrl: '',
              price: '',
              title: '',
              photoUrl: ''
            }
          }
        })
      } else {
        this.$store.dispatch('editMyItem', this.newItemData).then(() => {
          this.addMyItemDialog = false
          this.newItemData = {
            listUid: null,
            data: {
              buyUrl: '',
              price: '',
              title: '',
              photoUrl: ''
            }
          }
        })
      }
    },
    showEditItem (item, itemUid) {
      this.newItemData = {
        listUid: itemUid,
        data: item
      }
      this.actionType = 'edit'
      this.addMyItemDialog = true
    },
    hideEditItem () {
      this.actionType = null
      this.addMyItemDialog = false
      this.newItemData = {
        listUid: null,
        data: {
          buyUrl: '',
          price: '',
          title: '',
          photoUrl: ''
        }
      }
    },
    showDeleteItemDialog (itemUid) {
      this.deleteItemDialog = true
      this.deleteItemUid = itemUid
    },
    deleteItem () {
      this.$store.dispatch('deleteMyItem', this.deleteItemUid).then(() => {
        this.deleteItemDialog = false
        this.deleteItemUid = null
      })
    },
    moveItemToWishList () {
      const selectedListIndex = this.selectData.selectText.indexOf(this.selectedList)
      if (selectedListIndex !== -1) {
        const data = {
          reference: 'wishLists',
          ownerUid: this.userData.uid,
          listId: this.selectData.selectUid[selectedListIndex],
          data: this.newItemData.data
        }
        this.$store.dispatch('deleteMyItem', this.newItemData.listUid).then(() => {
          this.$store.dispatch('addNewListItem', data).then(() => {
            this.actionType = null
            this.addMyItemDialog = false
            this.newItemData = {
              listUid: null,
              data: {
                buyUrl: '',
                price: '',
                title: '',
                photoUrl: ''
              }
            }
          })
        })
      }
    }
  },
  data () {
    return {
      deleteItemDialog: false,
      wishListDialog: false,
      addMyItemDialog: false,
      newListTitle: '',
      activeTab: 'tab-0',
      actionType: null,
      errorMessage: '',
      deleteItemUid: null,
      selectedList: null,
      tabItems: [
        {
          title: 'My Wish Lists',
          type: 'WishList'
        },
        {
          title: 'My Items List',
          type: 'MyList'
        }
      ],
      newItemData: {
        listUid: null,
        data: {
          buyUrl: '',
          price: '',
          title: '',
          photoUrl: 'http://kerrelectric.com/_imgstore/0/1765760/page_home_9/JZTalastr6bwNuIA5e0zHCuBkNU.png'
        }
      }
    }
  }
}
</script>

<style scoped>
    table{
      width: 100%;
      text-align: center;
      border: solid #eee;
      border-width: 1px 1px 0 0;
      border-spacing: 0;
    }
    table td,
    table th{
      border: solid #eee;
      border-width: 0 0 1px 1px;
      padding: 5px;
      font-weight: normal;
    }
    table td{
      color: red;
      font-weight: bold;
    }
  h2{
    font-size: 16px;
    line-height: 20px;
    margin: 6px 0;
    min-height: 40px;
  }
  .tab-holder{
    height: calc(100% - 157px);
  }
  .view-holder{
    height: 100%;
  }
  .tabs__items{
    height: calc(100% - 48px);
  }
  .tabs__content{
    height: 100%;
  }
  .tabs__content .list{
    position: relative;
    overflow: auto;
  }
  .tabs__content .card{
    height: 100% !important;
  }
  .tabs__content .card__text{
    height: 100%;
  }
  .tabs__content .card__text{
    padding:0 !important;
  }
  form{
    background: #fff;
  }
  form .btn{
    color: #fff;
  }
  .items-list hr:first-child{
    display: none;
  }
  .items-list hr{
    margin: 5px 0;
  }
</style>
