<template>
  <v-container fluid>
    <v-layout row wrap mb-3>
      <v-flex xs12 md6 offset-md3>
        <v-card>
          <v-container fluid grid-list-lg>
            <v-layout row wrap v-if="isUserOwner">
              <v-flex xs12>
                <social-sharing :url="listUrl"
                                :title="listData.ownerData.firstName + ' ' + listData.ownerData.lastName + ' ' + listData.title + ' wish list'"
                                :description="listData.ownerData.firstName + ' ' + listData.ownerData.lastName + ' ' + listData.title + ' wish list'"
                                :quote="listData.ownerData.firstName + ' ' + listData.ownerData.lastName + ' ' + listData.title + ' wish list'"
                                :hashtags="listData.title + ' wish list'"
                                :twitter-user="listData.ownerData.firstName + ' ' + listData.ownerData.lastName"
                                inline-template>
                  <div>
                    <network network="facebook">
                      <v-btn flat block dark class="indigo">
                        share to facebook
                      </v-btn>
                    </network>
                  </div>
                </social-sharing>
              </v-flex>
            </v-layout>
            <v-layout row>
              <v-flex xs5>
                <v-card-media
                  :src="listData.ownerData.photoUrl"
                  height="125px"
                  contain
                ></v-card-media>
              </v-flex>
              <v-flex xs7>
                <h2>{{listData.ownerData.firstName}} {{listData.ownerData.lastName}}</h2>
                <h1>{{listData.title}}</h1>
               <div class="text-xs-right">
                 <v-btn
                   v-if="!inMyWishLists"
                   dark
                   flat
                   @click.stop="copyWishList()"
                   class="light-green darken-1"
                 >copy list</v-btn>
               </div>
              </v-flex>
            </v-layout>
            <v-layout row wrap v-if="isUserOwner">
              <v-flex xs6>
                <v-btn
                  block
                  dark
                  class="light-green darken-1"
                  @click.stop="showEditTitleDialog = true"
                  flat>Edit Title</v-btn>
              </v-flex>
              <v-flex xs6>
                <v-btn
                  block
                  dark
                  class="red darken-1"
                  @click.stop="showDeleteListDialog = true"
                  flat>Delete list</v-btn>
              </v-flex>
            </v-layout>
          </v-container>
        </v-card>
      </v-flex>
    </v-layout>
    <v-layout row wrap mb-3>
      <v-flex xs12 md6 offset-md3>
        <v-list class="items-list" v-if="Object.keys(listData.items).length">
          <template v-for="(item, key) in listData.items">
            <v-divider></v-divider>
            <v-list-tile v-bind:key="key">
              <v-list-tile-avatar>
                <img v-bind:src="item.photoUrl"/>
              </v-list-tile-avatar>
              <v-list-tile-content>
                <v-list-tile-title>
                  <a :href="item.buyUrl">{{item.title}}</a>
                </v-list-tile-title>
                <v-list-tile-title>{{item.price}}</v-list-tile-title>
              </v-list-tile-content>
              <v-list-tile-action class="btns">
                <v-layout>
                  <v-flex xs12 v-if="isUserOwner">
                    <v-btn
                      @click.stop="showEditItem(item, key)"
                      color="light-green darken-2"
                      small
                      dark
                      fab>
                      <v-icon>mode_edit</v-icon>
                    </v-btn>
                    <v-btn
                      @click.stop="showDeleteItemDialog(key)"
                      color="red"
                      small
                      dark
                      fab>
                      <v-icon>delete_forever</v-icon>
                    </v-btn>
                  </v-flex>
                  <v-flex xs12 v-else>
                    <v-btn
                      @click.stop="showCopyToMyWishListDialog(item, key)"
                      color="white"
                      class="light-green darken-2"
                      flat>
                      copy to my wish list
                    </v-btn>
                    <v-btn
                      v-if="!item.isReserved"
                      @click.stop="showReservDialog(key)"
                      color="white"
                      class="light-green darken-2"
                      flat>
                      reserve
                    </v-btn>
                    <v-tooltip
                      v-else
                      top>
                      <v-btn
                        slot="activator"
                        disabled
                        color="white"
                        class="light-green darken-2"
                        flat>
                        reserved
                      </v-btn>
                      <span>{{item.reservedByUser}}</span>
                    </v-tooltip>
                  </v-flex>
                </v-layout>
              </v-list-tile-action>
            </v-list-tile>
          </template>
        </v-list>
      </v-flex>
    </v-layout>
    <v-btn
      v-if="isUserOwner"
      color="light-green darken-2"
      dark
      fixed
      bottom
      right
      fab
      class="btnAdd"
      @click.stop="addNewItemDialog = true">
      <v-icon>add</v-icon>
    </v-btn>
    <v-dialog
      v-model="addNewItemDialog"
      fullscreen
      transition="dialog-bottom-transition"
      :overlay=false
      scrollable
    >
      <v-card>
        <form @submit.prevent="addNewListItem()">
          <v-toolbar style="flex: 0 0 auto;" dark class="light-green darken-2">
            <v-btn icon @click.native="addNewItemDialog = false" dark>
              <v-icon>close</v-icon>
            </v-btn>
            <v-toolbar-title>Add New Item</v-toolbar-title>
            <v-spacer></v-spacer>
            <v-btn
              flat
              color="white"
              type="submit"
            >Add Item</v-btn>
          </v-toolbar>
          <v-card-text>
            <v-layout row wrap>
              <v-flex xs12 md6 offset-md3 class="text-xs-center">
                <v-text-field
                  label="Enter Url to Item"
                  type="text"
                  v-model="buyUrl"
                ></v-text-field>
              </v-flex>
            </v-layout>
            <v-layout row wrap>
              <v-flex xs12 md3 offset-md3>
                <img :src="photoUrl" alt="">
              </v-flex>
              <v-flex xs12 md3 >
                <v-text-field
                  label="Title"
                  v-model="title"
                ></v-text-field>
                <v-text-field
                  type="number"
                  label="Price"
                  v-model="price"
                ></v-text-field>
              </v-flex>
            </v-layout>
          </v-card-text>
          <div style="flex: 1 1 auto;"></div>
        </form>
      </v-card>
    </v-dialog>
    <v-dialog
      v-model="showEditItemDialog"
      fullscreen
      transition="dialog-bottom-transition"
      :overlay=false
      scrollable
    >
      <v-card>
        <form @submit.prevent="editItem()">
          <v-toolbar style="flex: 0 0 auto;" dark class="light-green darken-2">
            <v-btn icon @click.native="showEditItemDialog = false" dark>
              <v-icon>close</v-icon>
            </v-btn>
            <v-toolbar-title>Edit Item</v-toolbar-title>
            <v-spacer></v-spacer>
            <v-btn
              flat
              color="white"
              type="submit"
            >Save</v-btn>
          </v-toolbar>
          <v-card-text>
            <v-layout row wrap>
              <v-flex xs12 md6 offset-md3 class="text-xs-center">
                <v-text-field
                  label="Enter Url to Item"
                  v-model="editItemData.data.buyUrl"
                ></v-text-field>
              </v-flex>
            </v-layout>
            <v-layout row wrap>
              <v-flex xs12 md3 offset-md3>
                <img :src="editItemData.data.photoUrl" alt="">
              </v-flex>
              <v-flex xs12 md3 >
                <v-text-field
                  label="Title"
                  v-model="editItemData.data.title"
                ></v-text-field>
                <v-text-field
                  label="Price"
                  v-model="editItemData.data.price"
                ></v-text-field>
              </v-flex>
            </v-layout>
            <v-layout row wrap>
              <v-flex xs12 md6 offset-md3 class="text-xs-center">
               <v-btn
               flat
               block
               dark
               @click.stop="moveToMyList()"
               class="indigo lighten-1">
                 Move to My List
               </v-btn>
              </v-flex>
            </v-layout>
          </v-card-text>
          <div style="flex: 1 1 auto;"></div>
        </form>
      </v-card>
    </v-dialog>
    <v-dialog
      v-model="reserveItemDialog"
      fullscreen
      transition="dialog-bottom-transition"
      :overlay=false
      scrollable
    >
      <v-card>
        <form @submit.prevent="reserveItem()">
          <v-toolbar style="flex: 0 0 auto;" dark class="light-green darken-2">
            <v-btn icon @click.native="reserveItemDialog = false" dark>
              <v-icon>close</v-icon>
            </v-btn>
            <v-toolbar-title>Reserve Item</v-toolbar-title>
            <v-spacer></v-spacer>
            <v-btn flat type="submit">
              save
            </v-btn>
          </v-toolbar>
          <v-card-text>
            <v-layout row wrap>
              <v-flex xs12 md6 offset-md3>
                <v-text-field
                  name="reserved name"
                  label="Enter your name"
                  v-model="reservedByUser"
                ></v-text-field>
              </v-flex>
            </v-layout>
          </v-card-text>
          <div style="flex: 1 1 auto;"></div>
        </form>
      </v-card>
    </v-dialog>
    <v-dialog
      v-model="deleteItemDialog"
      fullscreen
      transition="dialog-bottom-transition"
      :overlay=false
      scrollable
    >
      <v-card>
        <form @submit.prevent="reserveItem()">
          <v-toolbar style="flex: 0 0 auto;" dark class="light-green darken-2">
            <v-btn icon @click.native="deleteItemDialog = false" dark>
              <v-icon>close</v-icon>
            </v-btn>
            <v-toolbar-title>Reserve Item</v-toolbar-title>
            <v-spacer></v-spacer>
            <v-btn
              dark
              class="red"
              @click.stop="deleteItem()"
              flat>
              Delete
            </v-btn>
          </v-toolbar>
          <v-card-text>
            <v-layout row wrap>
              <v-flex xs12 md6 offset-md3 class="text-xs-center">
                <h1>Delete Item?</h1>
              </v-flex>
            </v-layout>
          </v-card-text>
          <div style="flex: 1 1 auto;"></div>
        </form>
      </v-card>
    </v-dialog>
    <v-dialog
      v-model="showEditTitleDialog"
      fullscreen
      transition="dialog-bottom-transition"
      :overlay=false
      scrollable
    >
      <v-card>
        <form @submit.prevent="editTitle()">
          <v-toolbar style="flex: 0 0 auto;" dark class="light-green darken-2">
            <v-btn icon @click.native="showEditTitleDialog = false" dark>
              <v-icon>close</v-icon>
            </v-btn>
            <v-toolbar-title>Reserve Item</v-toolbar-title>
            <v-spacer></v-spacer>
            <v-btn flat type="submit">
              save
            </v-btn>
          </v-toolbar>
          <v-card-text>
            <v-layout row wrap>
              <v-flex xs12 md6 offset-md3>
                <v-text-field
                  label="Enter new title"
                  v-model="newListTitle.title"
                ></v-text-field>
              </v-flex>
            </v-layout>
          </v-card-text>
          <div style="flex: 1 1 auto;"></div>
        </form>
      </v-card>
    </v-dialog>
    <v-dialog
      v-model="showDeleteListDialog"
      fullscreen
      transition="dialog-bottom-transition"
      :overlay=false
      scrollable
    >
      <v-card>
        <form @submit.prevent="deleteList()">
          <v-toolbar style="flex: 0 0 auto;" dark class="light-green darken-2">
            <v-btn icon @click.native="showDeleteListDialog = false" dark>
              <v-icon>close</v-icon>
            </v-btn>
            <v-toolbar-title>Delete List</v-toolbar-title>
            <v-spacer></v-spacer>
            <v-btn flat dark class="red" type="submit">
              DELETE
            </v-btn>
          </v-toolbar>
          <v-card-text>
            <v-layout row wrap>
              <v-flex xs12 md6 offset-md3 class="text-xs-center">
                <h1>Delete List?</h1>
              </v-flex>
            </v-layout>
          </v-card-text>
          <div style="flex: 1 1 auto;"></div>
        </form>
      </v-card>
    </v-dialog>
    <v-dialog
      v-model="copyDialog"
      fullscreen
      transition="dialog-bottom-transition"
      :overlay=false
      scrollable
    >
      <v-card>
        <form @submit.prevent="copyToMyWishList()">
          <v-toolbar style="flex: 0 0 auto;" dark class="light-green darken-2">
            <v-btn icon @click.native="copyDialog = false" dark>
              <v-icon>close</v-icon>
            </v-btn>
            <v-toolbar-title>Copy Item</v-toolbar-title>
            <v-spacer></v-spacer>
            <v-btn flat type="submit">
              save
            </v-btn>
          </v-toolbar>
          <v-card-text>
            <v-layout row wrap>
              <v-flex xs12 md6 offset-md3>
                copy
              </v-flex>
            </v-layout>
          </v-card-text>
          <div style="flex: 1 1 auto;"></div>
        </form>
      </v-card>
    </v-dialog>
  </v-container>
</template>

<script>
  export default {
    computed: {
      listUrl () {
        return window.location.href
      },
      userData () {
        return this.$store.getters.getUser
      },
      listData () {
        return this.$store.getters.getListData
      },
      isUserOwner () {
        return this.userData.uid === this.listData.ownerUid
      },
      newListTitle () {
        return Object.assign({}, this.listData)
      },
      inMyWishLists () {
        return this.userData.wishLists[this.listData.listId] ? true : false
      }
    },
    watch: {
      listData () {
        return this.$store.getters.getListData
      },
      inMyWishLists () {
        console.log(this.userData.wishLists, this.listData.listId)
        return this.userData.wishLists[this.listData.listId] ? true : false
      }
    },
    methods: {
      addNewListItem () {
        let newData = {
          title: this.title,
          isReserved: this.isReserved,
          reservedByUser: this.reservedByUser,
          buyUrl: this.buyUrl,
          photoUrl: this.photoUrl,
          price: this.price
        }
        this.addNewItemDialog = false
        this.$store.dispatch('addNewListItem', newData)
      },
      showReservDialog (id) {
        this.reserveItemDialog = true
        this.reservedItemId = id
      },
      reserveItem () {
        this.reserveItemDialog = false
        this.listData.items[this.reservedItemId].reservedByUser = this.reservedByUser
        this.listData.items[this.reservedItemId].isReserved = true
        const data = {
          itemId: this.reservedItemId,
          item: {
            reservedByUser: this.reservedByUser,
            isReserved: true
          }
        }
        this.$store.dispatch('reserveItem', data)
      },
      editTitle () {
        const data = {
          newTitle: this.newListTitle,
          reference: this.listData.reference,
          ownerUid: this.listData.ownerUid,
          listId: this.listData.listId
        }
        this.$store.dispatch('editTitle', data).then(() => {
          this.showEditTitleDialog = false
        })
      },
      deleteList () {
        this.$store.dispatch('deleteList', this.listData).then(() => {
          this.$router.push('/')
          this.showDeleteListDialog = false
        })
      },
      showEditItem (item, id) {
        this.showEditItemDialog = true
        this.editItemData = {
          id: id,
          data: item
        }
      },
      editItem () {
        const data = {
          uid: this.editItemData.id,
          data: {
            item: this.editItemData.data,
            listId: this.listData.listId,
            ownerUid: this.listData.ownerUid,
            reference: this.listData.reference
          }
        }
        this.$store.dispatch('editItem', data).then(() => {
          this.showEditItemDialog = false
        })
      },
      showDeleteItemDialog (id) {
        this.deleteItemDialog = true
        this.deleteItemId = id
      },
      deleteItem () {
        const data = {
          itemId: this.deleteItemId,
          reference: this.listData.reference,
          ownerUid: this.listData.ownerUid,
          listId: this.listData.listId
        }
        this.$store.dispatch('deleteItemFromList', data).then(() => {
          this.deleteItemDialog = false
        })
      },
      moveToMyList () {
        const data = {
          reference: this.listData.reference,
          ownerUid: this.listData.ownerUid,
          listId: this.listData.listId,
          itemId: this.editItemData.id,
          item: this.editItemData.data
        }
        this.$store.dispatch('moveToMyList', data).then(() => {
          this.showEditItemDialog = false
        })
      },
      showCopyToMyWishListDialog (item, uid) {
        this.copyDialog = true
        this.editItemData.uid = uid
        this.editItemData.data = item
      },
      copyWishList () {
        const newListData = {
          uid: this.listData.listId,
          title: this.listData.title,
          items: this.listData.items
        }
        this.$store.dispatch('addNewWishList', newListData)
      },
      copyToMyWishList () {
        this.$store.dispatch('copyToMyWishList', this.editItemData)
      }
    },
    data () {
      return {
        copyDialog: false,
        reserveItemDialog: false,
        addNewItemDialog: false,
        showEditTitleDialog: false,
        showEditItemDialog: false,
        showDeleteListDialog: false,
        deleteItemDialog: false,
        reservedItemId: null,
        copyItemUid: null,
        title: '',
        isReserved: false,
        reservedByUser: null,
        buyUrl: '',
        photoUrl: 'http://kerrelectric.com/_imgstore/0/1765760/page_home_9/JZTalastr6bwNuIA5e0zHCuBkNU.png',
        price: '',
        deleteItemId: null,
        editItemData: {
          id: null,
          data: {
            title: '',
            buyUrl: '',
            photoUrl: 'http://kerrelectric.com/_imgstore/0/1765760/page_home_9/JZTalastr6bwNuIA5e0zHCuBkNU.png',
            price: ''
          }
        }
      }
    }
  }
</script>

<style scoped>
  .btns{
    white-space: nowrap;
    margin: 0 0 0 20px;
  }
  .btnAdd{
    bottom: 20px;
    right: 20px;
  }
  .items-list hr:first-child{
    display: none;
  }
  .items-list hr{
    margin: 5px 0;
  }
  form{
    width: 100%;
  }
  h1, h2{
    font-weight: normal;
  }
  .card .container.fluid{
    padding-bottom: 5px;
    padding-top: 5px;
  }
</style>
