<template>
  <form
    @submit.prevent="login()"
    class="login">
    <v-container>
      <v-layout row wrap mb-3>
        <v-flex xs12 md4 offset-md4 class="text-xs-center">
          <h1 color="red">Login</h1>
        </v-flex>
      </v-layout>
      <v-layout row wrap mb-3>
        <v-flex xs12 md4 offset-md4 class="text-xs-center errorMessage">
          <strong>{{errorMessage}}</strong>
        </v-flex>
      </v-layout>
      <v-layout row wrap mb-2>
        <v-flex xs12 md4 offset-md4>
          <v-text-field
            v-model="email"
            type="email"
            required
            label="Email"
          ></v-text-field>
        </v-flex>
      </v-layout>
      <v-layout row wrap mb-2>
        <v-flex xs12 md4 offset-md4>
          <v-text-field
            v-model="password"
            type="password"
            required
            label="Password"
          ></v-text-field>
        </v-flex>
      </v-layout>
      <v-layout row wrap mb-3>
        <v-flex xs12 md4 offset-md4>
          <v-btn
            type="submit"
            block
            flat
            color="white"
            class="green"
          >login</v-btn>
        </v-flex>
      </v-layout>
    </v-container>
  </form>
</template>

<script>
    export default {
      methods: {
        login () {
          let data = {
            email: this.email,
            password: this.password
          }
          this.$store.dispatch('login', data).then(() => {
            this.errorMessage = ''
            this.$router.push('/')
          }, error => {
            console.log(error)
            this.errorMessage = error
          })
        }
      },
      data () {
        return {
          email: '',
          password: '',
          errorMessage: ''
        }
      }
    }
</script>

<style scoped>
  .login{
    align-self:center;
  }
  .errorMessage{
    color: rgb(213, 0, 0);
  }
</style>
