<template>
  <form
    @submit.prevent="register()"
    class="login">
    <v-container>
      <v-layout row wrap mb-2>
        <v-flex xs12 md4 offset-md4 class="text-xs-center">
          <h1>Register</h1>
        </v-flex>
      </v-layout>
      <v-layout row wrap>
        <v-flex xs12 md4 offset-md4 class="text-xs-center errorMessage">
          <strong>{{errorMessage}}</strong>
        </v-flex>
      </v-layout>
      <v-layout row wrap mb-2>
        <v-flex xs12 md4 offset-md4>
          <v-text-field
            v-model="firstName"
            required
            type="text"
            label="First Name"
          ></v-text-field>
        </v-flex>
      </v-layout>
      <v-layout row wrap mb-2>
        <v-flex xs12 md4 offset-md4>
          <v-text-field
            v-model="lastName"
            required
            type="text"
            label="Last Name"
          ></v-text-field>
        </v-flex>
      </v-layout>
      <v-layout row wrap mb-2>
        <v-flex xs12 md4 offset-md4>
          <v-text-field
            v-model="email"
            required
            type="email"
            label="Email"
          ></v-text-field>
        </v-flex>
      </v-layout>
      <v-layout row wrap mb-2>
        <v-flex xs12 md4 offset-md4>
          <v-text-field
            v-model="password"
            required
            type="password"
            label="Password"
          ></v-text-field>
        </v-flex>
      </v-layout>
      <v-layout row wrap mb-2>
        <v-flex xs12 md4 offset-md4>
          <v-text-field
            v-model="confirmPassword"
            required
            type="password"
            label="Confirm Password"
          ></v-text-field>
        </v-flex>
      </v-layout>
      <v-layout row wrap>
        <v-flex xs12 md4 offset-md4>
          <v-btn
            type="submit"
            block
            flat
            color="white"
            class="green"
          >register</v-btn>
        </v-flex>
      </v-layout>
    </v-container>
  </form>
</template>

<script>
  export default {
    methods: {
      register () {
        if (this.password.length < 8) {
          this.errorMessage = 'Password is to short'
        } else if (this.password !== this.confirmPassword) {
          this.errorMessage = 'Password not mached'
        } else {
          this.errorMessage = ''
          let data = {
            firstName: this.firstName,
            lastName: this.lastName,
            email: this.email,
            password: this.password
          }
          this.$store.dispatch('register', data).then(resolve => {
            this.$router.push('/')
          }, error => {
            this.errorMessage = error
          })
        }
      }
    },
    data () {
      return {
        firstName: '',
        lastName: '',
        email: '',
        password: '',
        confirmPassword: '',
        errorMessage: ''
      }
    }
  }
</script>

<style scoped>
  .login{
    align-self:center;
  }
  .errorMessage{
    color: rgb(213, 0, 0);
  }
</style>
