<template>
  <v-container class="search-results">
    <form @submit.prevent="searchUser()">
      <v-layout row wrap>
        <v-flex xs12 mb-4 class="text-xs-center">
          <h2>Search your friends here!</h2>
        </v-flex>
      </v-layout>
      <v-layout row wrap>
        <v-flex
          xs8
          offset-md3
          md5
          class="text-xs-center">
          <v-text-field
            v-model="searchText"
            label="Enter surname of email of your friend"
          ></v-text-field>
        </v-flex>
        <v-flex xs4 md1 class="text-xs-right">
          <v-btn
            flat
            color="white"
            class="amber darken-2 search-btn"
            type="submit"
          >
            <v-icon>search</v-icon>
          </v-btn>
        </v-flex>
      </v-layout>
      <v-layout row wrap>
        <v-flex xs12 md6 offset-md3>
          <h3 v-if="errorMessage.length !== 0">{{errorMessage}}</h3>
        </v-flex>
      </v-layout>
      <v-layout row wrap class="iscroll-holder">
        <v-flex xs12 md6 offset-md3 v-if="Object.keys(searchResults).length">
          <v-list class="search-list">
            <template  v-for="user in searchResults">
              <v-divider></v-divider>
              <v-list-tile avatar v-bind:key="user.uid">
                <v-list-tile-avatar>
                  <img v-bind:src="user.data.photoUrl"/>
                </v-list-tile-avatar>
                <v-list-tile-content>
                  <v-list-tile-title>{{ user.data.firstName + ' ' + user.data.lastName}}</v-list-tile-title>
                </v-list-tile-content>
                <v-list-tile-action class="btns">
                  <v-layout>
                    <v-flex xs12>
                      <v-btn @click.stop="addToFriends(user)" icon ripple>
                        <v-icon color="red accent-3">
                          {{friendsList && friendsList[user.uid] ? 'favorite' : 'favorite_border'}}
                        </v-icon>
                      </v-btn>
                      <v-btn router :to="'user/' + user.uid" icon ripple>
                        <v-icon color="red accent-3">keyboard_arrow_right</v-icon>
                      </v-btn>
                    </v-flex>
                  </v-layout>
                </v-list-tile-action>
              </v-list-tile>
            </template>
          </v-list>
        </v-flex>
      </v-layout>
    </form>
  </v-container>
</template>

<script>
  export default {
    computed: {
      searchResults () {
        return this.$store.getters.getSearchResults
      },
      friendsList () {
        return this.$store.getters.getFriends
      }
    },
    watch: {
      searchResults () {
        return this.$store.getters.getSearchResults
      },
      friendsList () {
        return this.$store.getters.getFriends
      }
    },
    methods: {
      searchUser () {
        this.errorMessage = ''
        this.$store.dispatch('searchUser', this.searchText).then(resolve => {
        }, error => {
          this.errorMessage = error
        })
      },
      addToFriends (user) {
        if (Object.keys(this.friendsList).length && this.friendsList[user.uid]) {
          this.$store.dispatch('deleteFromFriends', user.uid)
        } else {
          let data = {}
          data[user.uid] = {
            email: user.data.email,
            firstName: user.data.firstName,
            lastName: user.data.lastName,
            photoUrl: user.data.photoUrl
          }
          this.$store.dispatch('addToFriends', data)
        }
      }
    },
    data () {
      return {
        searchText: '',
        errorMessage: ''
      }
    }
  }
</script>

<style scoped>
  .search-results{
    height: 100%;
  }
  form{
    width: 100%;
    height: 100%;
    align-self: flex-start;
  }
  .search-btn {
    margin: 14px 0 0;
  }
  .btns{
    white-space: nowrap;
  }
  .btns .btn{
    margin:0 0 0 10px;
  }
  .iscroll-holder{
    height: calc(100% - 74px - 75px) !important;
    position: relative;
  }
  .scroll-view {
    /* -- Attention: This line is extremely important in chrome 55+! -- */
    touch-action: none;
    /* -- Attention-- */
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
  }
  .search-list hr:first-child{
    display: none;
  }
</style>
