<template>
  <v-container fluid class="view-holder">
    <v-layout row wrap mb-3>
      <v-flex xs12 md6 offset-md3>
        <v-card>
          <v-container fluid grid-list-lg>
            <v-layout row>
              <v-flex xs5>
                <v-card-media
                  :src="userData.user.photoUrl"
                  height="125px"
                  contain
                ></v-card-media>
              </v-flex>
              <v-flex xs7>
                <h2>{{userData.user.firstName}} {{userData.user.lastName}}</h2>
                <div v-if="currentUser.uid && currentUser.uid !== userData.user.uid">
                  <v-btn
                    v-if="!this.friendsList[this.id]"
                    dark
                    class="light-green darken-2"
                    block
                    @click.stop="addToFriends()"
                    flat>
                    add to friends
                  </v-btn>
                  <v-btn
                    v-else
                    dark
                    class="red darken-2"
                    block
                    @click.stop="addToFriends()"
                    flat>
                    remove frome friends
                  </v-btn>
                </div>
              </v-flex>
            </v-layout>
          </v-container>
        </v-card>
      </v-flex>
    </v-layout>
    <v-layout row wrap class="tab-holder">
      <v-tabs fixed centered v-model="activeTab">
        <v-tabs-bar class="cyan" dark >
          <v-tabs-slider color="yellow"></v-tabs-slider>
          <v-tabs-item
            v-for="(item, i) in tabItems"
            :key="i"
            :href="'#tab-' + i"
          >
            {{ item.title }}
          </v-tabs-item>
        </v-tabs-bar>
        <v-tabs-items>
          <v-tabs-content
            v-for="(item, i) in tabItems"
            :key="i"
            :id="'tab-' + i"
          >
            <v-card flat>
              <v-card-text>
                <div class="iscroll-holder">
                  <iscroll-view
                  ref="iscroll"
                  class="scroll-view">
                    <v-list>
                      <template v-if="item.type === 'WishList'">
                        <v-list-tile
                          v-for="(value, key) in userData.wishLists"
                          v-bind:key="key"
                          router
                          :to="'/list/' + key">
                          <v-list-tile-content>
                            <v-list-tile-title v-text="value.title"></v-list-tile-title>
                          </v-list-tile-content>
                        </v-list-tile>
                      </template>
                      <template v-else>
                        <v-list-tile
                          v-for="(value, key) in userData.myLists"
                          v-bind:key="key"
                          router
                          :to="'/list/' + key">
                          <v-list-tile-content>
                            <v-list-tile-title v-text="value.title"></v-list-tile-title>
                          </v-list-tile-content>
                        </v-list-tile>
                      </template>
                    </v-list>
                  </iscroll-view>
                </div>
              </v-card-text>
            </v-card>
          </v-tabs-content>
        </v-tabs-items>
      </v-tabs>
    </v-layout>
  </v-container>
</template>

<script>
    export default {
      props: ['id'],
      computed: {
        currentUser () {
          return this.$store.getters.getUser
        },
        userData () {
          return this.$store.getters.getFriendById
        },
        friendsList () {
          return this.$store.getters.getFriends
        }
      },
      watch: {
        userData () {
          return this.$store.getters.getFriendById
        },
        friendsList () {
          return this.$store.getters.getFriends
        }
      },
      methods: {
        addToFriends () {
          if (Object.keys(this.friendsList).length && this.friendsList[this.id]) {
            this.$store.dispatch('deleteFromFriends', this.id)
          } else {
            let data = {}
            data[this.id] = {
              email: this.userData.user.email,
              firstName: this.userData.user.firstName,
              lastName: this.userData.user.lastName,
              photoUrl: this.userData.user.photoUrl
            }
            this.$store.dispatch('addToFriends', data)
          }
        }
      },
      data () {
        return {
          currentListType: '',
          activeTab: 'tab-0',
          showContent: false,
          tabItems: [
            {
              title: 'My Wish Lists',
              type: 'WishList'
            },
            {
              title: 'My Items Lists',
              type: 'MyList'
            }
          ]
        }
      }
    }
</script>

<style scoped>
  .tab-holder{
    height: calc(100% - 157px);
  }
  .view-holder{
    height: 100%;
  }
  .tabs__items{
    height: calc(100% - 48px);
  }
  .tabs__content{
    height: 100%;
    position: relative;
  }
  .tabs__content .card{
    height: 100% !important;
  }
  .tabs__content .card__text{
    height: 100%;
  }
  .iscroll-holder{
    height: 100%;
    position: relative;
  }
  .scroll-view {
    /* -- Attention: This line is extremely important in chrome 55+! -- */
    touch-action: none;
    /* -- Attention-- */
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
  }
  .tabs__content .card__text{
    padding:0 !important;
  }
</style>
