<template>
  <v-app>
    <v-navigation-drawer
      fixed
      top
      left
      lilght
      temporary
      v-model="drawer">
      <v-toolbar v-if="authState" flat class="amber darken-2">
        <v-list class="pa-0">
          <v-list-tile avatar>
            <v-list-tile-avatar>
              <img :src="userData.photoUrl"/>
            </v-list-tile-avatar>
            <v-list-tile-content>
              <v-list-tile-title>{{userData.firstName}} {{userData.lastName}}</v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>
        </v-list>
      </v-toolbar>
      <v-list class="pt-0" dense>
        <template v-for="(item, index) in menuItems" v-if="authState === item.showIfUserLoggedIn">
          <v-list-tile
            :key="item.url"
            router
            :to="item.url">
            <v-list-tile-content>
              <v-list-tile-title>{{ item.title }}</v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>
          <v-divider v-if="index + 1 < menuItems.length" :key="item.title"></v-divider>
        </template>
      </v-list>
      <v-footer absolute bottom v-if="authState">
        <v-btn
          flat
          color="white"
          class="red"
          block
          @click.stop="logout()">Log Out</v-btn>
      </v-footer>
    </v-navigation-drawer>
    <v-toolbar
      class="header amber darken-2">
      <v-spacer class="hidden-md-only"></v-spacer>
      <router-link
        router
        to="/"
        class="logo">
        <v-icon left>favorite</v-icon>
        Wish List
      </router-link>
      <v-spacer></v-spacer>
      <v-toolbar-side-icon class="hidden-md-and-up" @click.stop="drawer = !drawer"></v-toolbar-side-icon>
      <v-toolbar-items class="nav hidden-sm-and-down">
        <v-btn
          flat
          v-for="item in menuItems"
          :key="item.title"
          router
          :to="item.url"
          v-if="authState === item.showIfUserLoggedIn"
        >{{item.title}}
        </v-btn>
        <v-btn
          flat
          color="white"
          class="red"
          v-if="authState"
          @click.stop="logout()">Log Out</v-btn>
      </v-toolbar-items>
    </v-toolbar>
    <v-content>
      <router-view></router-view>
    </v-content>
  </v-app>
</template>

<script>
  export default {
    computed: {
      userData () {
        return this.$store.getters.getUser
      },
      authState () {
        return this.$store.getters.getAuthState
      }
    },
    methods: {
      logout () {
        this.$store.dispatch('logout').then(() => {
          this.$router.push('/')
        })
      }
    },
    data () {
      return {
        drawer: false,
        menuItems: [
          {
            title: 'Sign In',
            url: '/login',
            showIfUserLoggedIn: false
          },
          {
            title: 'Sign Up',
            url: '/register',
            showIfUserLoggedIn: false
          },
          {
            title: 'Edit Profile',
            url: '/profile',
            showIfUserLoggedIn: true
          },
          {
            title: 'My Lists',
            url: '/',
            showIfUserLoggedIn: true
          },
          {
            title: 'My Friends',
            url: '/friends',
            showIfUserLoggedIn: true
          },
          {
            title: 'Search',
            url: '/search',
            showIfUserLoggedIn: true
          }
        ]
      }
    }
  }
</script>

<style scoped>
  .header a{
    color: #fff;
  }
  .logo{
    font-size: 26px;
    background: none;
    color: #fff;
    text-decoration: none;
  }
  .logo i{
    font-size: 46px;
    color: rgb(255, 23, 68) ;
  }
  .logo:hover i{
    color: rgb(213, 0, 0);
  }
  .nav{
    position: absolute;
    top: 0;
    right: 0;
  }
  .toolbar__side-icon{
    color: #fff;
  }
  .toolbar__content .list{
    background: none;
  }
  .avatar .list__tile__title{
    color: #fff !important;
    background: rgb(255, 202, 40);
  }
</style>
